# Are students who take Frosh 101 different from other students in our study?

Answer: no

* No statistically significant difference on any dimension, including t1/t2 well-being measures.
* Except by dorm - some dorms are more likely on the whole to participate in frosh 101.
* There was a significant difference in Agreeableness too, but this becomes non-significant when considering the number of tests performed here.

**Author: Everett Wetchler (`wetchler@berkeley.edu`)**

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Configuration" data-toc-modified-id="Configuration-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Configuration</a></span></li><li><span><a href="#Import-and-load" data-toc-modified-id="Import-and-load-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import and load</a></span></li><li><span><a href="#Who-takes-frosh-101?" data-toc-modified-id="Who-takes-frosh-101?-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Who takes frosh 101?</a></span><ul class="toc-item"><li><span><a href="#Gender" data-toc-modified-id="Gender-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Gender</a></span></li><li><span><a href="#Race" data-toc-modified-id="Race-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Race</a></span></li><li><span><a href="#Dorm" data-toc-modified-id="Dorm-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Dorm</a></span></li><li><span><a href="#International-students" data-toc-modified-id="International-students-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>International students</a></span></li><li><span><a href="#Family-income" data-toc-modified-id="Family-income-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Family income</a></span></li><li><span><a href="#Parent-education" data-toc-modified-id="Parent-education-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Parent education</a></span></li><li><span><a href="#stress-(t1)" data-toc-modified-id="stress-(t1)-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>stress (t1)</a></span></li><li><span><a href="#life-satisfaction-(t1)" data-toc-modified-id="life-satisfaction-(t1)-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>life satisfaction (t1)</a></span></li><li><span><a href="#loneliness-(t1)" data-toc-modified-id="loneliness-(t1)-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>loneliness (t1)</a></span></li><li><span><a href="#composite-well-being-(t1)" data-toc-modified-id="composite-well-being-(t1)-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>composite well-being (t1)</a></span></li><li><span><a href="#Extraversion" data-toc-modified-id="Extraversion-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Extraversion</a></span></li><li><span><a href="#Agreeableness" data-toc-modified-id="Agreeableness-3.12"><span class="toc-item-num">3.12&nbsp;&nbsp;</span>Agreeableness</a></span></li><li><span><a href="#Openness" data-toc-modified-id="Openness-3.13"><span class="toc-item-num">3.13&nbsp;&nbsp;</span>Openness</a></span></li><li><span><a href="#Conscientiousness" data-toc-modified-id="Conscientiousness-3.14"><span class="toc-item-num">3.14&nbsp;&nbsp;</span>Conscientiousness</a></span></li><li><span><a href="#Neuroticism" data-toc-modified-id="Neuroticism-3.15"><span class="toc-item-num">3.15&nbsp;&nbsp;</span>Neuroticism</a></span></li><li><span><a href="#Empathy" data-toc-modified-id="Empathy-3.16"><span class="toc-item-num">3.16&nbsp;&nbsp;</span>Empathy</a></span></li></ul></li><li><span><a href="#Outcome-measures-(t2-well-being)" data-toc-modified-id="Outcome-measures-(t2-well-being)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Outcome measures (t2 well-being)</a></span><ul class="toc-item"><li><span><a href="#stress-(t2)" data-toc-modified-id="stress-(t2)-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>stress (t2)</a></span></li><li><span><a href="#life-satisfaction-(t2)" data-toc-modified-id="life-satisfaction-(t2)-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>life satisfaction (t2)</a></span></li><li><span><a href="#loneliness-(t2)" data-toc-modified-id="loneliness-(t2)-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>loneliness (t2)</a></span></li><li><span><a href="#composite-well-being-(t2)" data-toc-modified-id="composite-well-being-(t2)-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>composite well-being (t2)</a></span></li></ul></li></ul></div>

## Configuration

In [1]:
DATA_FILE = '../data/2019–2020/postprocessed/df_Rcleaned_train.csv'
FROSH101_FILE = '../data/2019–2020/frosh101.csv'

## Import and load

In [2]:
library(car)
library(tidyverse)
library(hexbin)
library(mice)
library(nlme)
library(lme4)
library(lmerTest)

# Display more data in the Jupyter notebook
options(repr.matrix.max.cols=500, repr.matrix.max.rows=20)

# Set default plot size
options(repr.plot.width=6, repr.plot.height=6)

Loading required package: carData

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
✖ dplyr::recode() masks car::recode()
✖ purrr::some()   masks car::some()

Loading required package: lattice

Registered S3 methods overwritten by 'lme4':
  method                          from
  cooks.distance.influence.merMod car
  influence.merMod                car
  dfbeta.influence.merMod         car
  dfbetas.influence.merMod        car


Attaching package: ‘mice’


The following object is masked from ‘package:tidyr’:

    complete


The following objects are masked from ‘package:base’:

    cbind, rbind



Attaching package: ‘nlme’


The following object is masked from ‘package:dplyr’:

    collapse


Loading required package: Matrix


Attaching package: ‘Matrix’


The following objects are masked from ‘package:tidyr’:

    expand, pack, unpack



Attaching package: ‘lme4’


The following object is masked from ‘package:nlme’:

    lmList



Attaching package: ‘lmerTest’


The following object is masked from ‘package:lme4’:

    lmer


The following object is masked from ‘package:stats’:

    step

In [3]:
df = read.csv(DATA_FILE, na.strings=c("", " ", "NA"))
dim(df)
head(df)

[1] 560  61

  X PID  gender race           dorm      life_satisfaction_t1 empathy
1 1 1001 male   south_asian    Rinconada 4.833333             6.375
2 2 1047 female other_or_mixed Twain     5.333333             6.500
3 3 1078 female east_asian     Loro      5.500000             6.250
4 4 1097 male   east_asian     Otero     6.000000             5.000
5 5 1105 female white          Larkin    6.666667             5.750
6 6 1110 female white          Larkin    5.166667             6.750
  loneliness_t1 stress_t1 BFI_E BFI_A BFI_C BFI_N BFI_O intl_student
1 1.333333      2.5       6.5   6.0   5.5   3.5   6.5   0
2 2.000000      2.5       5.5   6.5   7.0   3.0   6.5   0
3 1.333333      2.0       4.5   6.5   6.5   1.5   6.5   0
4 2.000000      2.0       3.0   4.0   5.5   1.5   4.5   0
5 2.000000      2.0       4.5   5.0   5.0   2.0   4.5   0
6 2.000000      2.0       6.5   5.0   6.0   2.0   4.5   0
  family_income life_satisfaction_t2 loneliness_t2 stress_t2
1  70000        6.166667             2.000000      1.5
2 210000        5.166667             2.000000      3.0
3 130000        5.500000             2.333333      3.0
4  90000        5.833333             2.000000      2.5
5 170000        6.666667             2.000000      2.0
6 110000        6.833333             1.666667      2.0
  parent_education_highest wellbeing_composite_t1 wellbeing_composite_t2
1 5                        -0.05862651             0.83993983
2 5                        -0.44690440            -0.66253028
3 6                         0.61446613            -0.79801599
4 6                         0.22618824            -0.04126834
5 4                         0.48041399             0.64021289
6 5                        -0.09159395             0.95635646
  degree_in_UNION degree_out_UNION empathy_UNION degree_in_INTIMATE
1 3               0                      NA      1
2 6               4                6.437500      4
3 1               0                      NA      1
4 6               4                5.812500      3
5 6               9                5.847222      4
6 4               5                5.550000      4
  degree_out_INTIMATE empathy_INTIMATE degree_in_ACQUAINTANCE
1 0                        NA          1
2 4                   6.43750          0
3 0                        NA          1
4 1                   5.62500          2
5 5                   6.02500          2
6 4                   5.40625          1
  degree_out_ACQUAINTANCE empathy_ACQUAINTANCE degree_in_CloseFrds
1 0                          NA                1
2 1                       6.125                4
3 0                          NA                1
4 0                          NA                2
5 2                       5.875                3
6 0                          NA                3
  degree_out_CloseFrds empathy_CloseFrds degree_in_NegEmoSupp
1 0                         NA           0
2 4                    6.43750           4
3 0                         NA           0
4 1                    5.62500           1
5 4                    5.81250           2
6 4                    5.40625           3
  degree_out_NegEmoSupp empathy_NegEmoSupp degree_in_PosEmoSupp
1 0                           NA           2
2 3                     6.541667           3
3 0                           NA           1
4 1                     5.625000           1
5 3                     6.125000           2
6 4                     5.406250           3
  degree_out_PosEmoSupp empathy_PosEmoSupp degree_in_Responsive
1 0                         NA             0
2 4                     6.4375             2
3 0                         NA             1
4 1                     6.6250             0
5 2                     5.3750             2
6 2                     6.0625             2
  degree_out_Responsive empathy_Responsive degree_in_EmpSupp degree_out_EmpSupp
1 0                         NA             0                 0
2 2                     6.5625             1                 2
3 0                         NA             0                 0
4 1                     5.6250             0                 1
5 2                     6.3125             1                 4
6 2                     5.7500             3                 1
  empathy_EmpSupp degree_in_PosAff degree_out_PosAff empathy_PosAff
1     NA          1                0                      NA
2 6.5625          3                4                 6.43750
3     NA          0                0                      NA
4 4.8750          1                1                 6.12500
5 6.1875          2                1                 6.87500
6 6.0000          2                4                 5.78125
  degree_in_NegAff degree_out_NegAff empathy_NegAff degree_in_Gossip
1 0                0                  NA            1
2 1                1                 6.5            4
3 0                1                 5.0            0
4 0                0                  NA            0
5 1                0                  NA            2
6 0                0                  NA            3
  degree_out_Gossip empathy_Gossip degree_in_Liked degree_out_Liked
1 0                       NA       1               0
2 3                 6.541667       1               2
3 0                       NA       0               0
4 1                 5.625000       0               1
5 3                 5.750000       1               1
6 4                 5.406250       4               1
  empathy_Liked degree_in_StudyWith degree_out_StudyWith empathy_StudyWith
1    NA         1                   0                        NA
2 6.000         2                   1                    6.6250
3    NA         0                   0                        NA
4 6.000         3                   1                    6.6250
5 5.125         4                   2                    6.1875
6 6.000         3                   4                    5.4375

In [8]:
frosh = read.csv(FROSH101_FILE, na.strings=c("", " ", "NA"))
frosh = frosh %>% arrange(PID)
dim(frosh)
head(frosh, 10)

[1] 735   3

   PID  Dorm       enrolled
1  1004 Donner     1
2  1012 Cedro      1
3  1029 Sally Ride 1
4  1036 FroSoCo    1
5  1038 East FloMo 1
6  1056 Arroyo     1
7  1067 Okada      1
8  1070 East FloMo 1
9  1077 FroSoCo    1
10 1078 West FloMo 1

In [23]:
df$frosh101 = df$PID %in% frosh$PID
dim(df)
head(df)

[1] 560  62

  X PID  gender race           dorm      life_satisfaction_t1 empathy
1 1 1001 male   south_asian    Rinconada 4.833333             6.375
2 2 1047 female other_or_mixed Twain     5.333333             6.500
3 3 1078 female east_asian     Loro      5.500000             6.250
4 4 1097 male   east_asian     Otero     6.000000             5.000
5 5 1105 female white          Larkin    6.666667             5.750
6 6 1110 female white          Larkin    5.166667             6.750
  loneliness_t1 stress_t1 BFI_E BFI_A BFI_C BFI_N BFI_O intl_student
1 1.333333      2.5       6.5   6.0   5.5   3.5   6.5   0
2 2.000000      2.5       5.5   6.5   7.0   3.0   6.5   0
3 1.333333      2.0       4.5   6.5   6.5   1.5   6.5   0
4 2.000000      2.0       3.0   4.0   5.5   1.5   4.5   0
5 2.000000      2.0       4.5   5.0   5.0   2.0   4.5   0
6 2.000000      2.0       6.5   5.0   6.0   2.0   4.5   0
  family_income life_satisfaction_t2 loneliness_t2 stress_t2
1  70000        6.166667             2.000000      1.5
2 210000        5.166667             2.000000      3.0
3 130000        5.500000             2.333333      3.0
4  90000        5.833333             2.000000      2.5
5 170000        6.666667             2.000000      2.0
6 110000        6.833333             1.666667      2.0
  parent_education_highest wellbeing_composite_t1 wellbeing_composite_t2
1 5                        -0.05862651             0.83993983
2 5                        -0.44690440            -0.66253028
3 6                         0.61446613            -0.79801599
4 6                         0.22618824            -0.04126834
5 4                         0.48041399             0.64021289
6 5                        -0.09159395             0.95635646
  degree_in_UNION degree_out_UNION empathy_UNION degree_in_INTIMATE
1 3               0                      NA      1
2 6               4                6.437500      4
3 1               0                      NA      1
4 6               4                5.812500      3
5 6               9                5.847222      4
6 4               5                5.550000      4
  degree_out_INTIMATE empathy_INTIMATE degree_in_ACQUAINTANCE
1 0                        NA          1
2 4                   6.43750          0
3 0                        NA          1
4 1                   5.62500          2
5 5                   6.02500          2
6 4                   5.40625          1
  degree_out_ACQUAINTANCE empathy_ACQUAINTANCE degree_in_CloseFrds
1 0                          NA                1
2 1                       6.125                4
3 0                          NA                1
4 0                          NA                2
5 2                       5.875                3
6 0                          NA                3
  degree_out_CloseFrds empathy_CloseFrds degree_in_NegEmoSupp
1 0                         NA           0
2 4                    6.43750           4
3 0                         NA           0
4 1                    5.62500           1
5 4                    5.81250           2
6 4                    5.40625           3
  degree_out_NegEmoSupp empathy_NegEmoSupp degree_in_PosEmoSupp
1 0                           NA           2
2 3                     6.541667           3
3 0                           NA           1
4 1                     5.625000           1
5 3                     6.125000           2
6 4                     5.406250           3
  degree_out_PosEmoSupp empathy_PosEmoSupp degree_in_Responsive
1 0                         NA             0
2 4                     6.4375             2
3 0                         NA             1
4 1                     6.6250             0
5 2                     5.3750             2
6 2                     6.0625             2
  degree_out_Responsive empathy_Responsive degree_in_EmpSupp degree_out_EmpSupp
1 0                         NA             0                 0
2 2                     6.5625             1                 2
3 0                         NA             0                 0
4 1                     5.6250             0                 1
5 2                     6.3125             1                 4
6 2                     5.7500             3                 1
  empathy_EmpSupp degree_in_PosAff degree_out_PosAff empathy_PosAff
1     NA          1                0                      NA
2 6.5625          3                4                 6.43750
3     NA          0                0                      NA
4 4.8750          1                1                 6.12500
5 6.1875          2                1                 6.87500
6 6.0000          2                4                 5.78125
  degree_in_NegAff degree_out_NegAff empathy_NegAff degree_in_Gossip
1 0                0                  NA            1
2 1                1                 6.5            4
3 0                1                 5.0            0
4 0                0                  NA            0
5 1                0                  NA            2
6 0                0                  NA            3
  degree_out_Gossip empathy_Gossip degree_in_Liked degree_out_Liked
1 0                       NA       1               0
2 3                 6.541667       1               2
3 0                       NA       0               0
4 1                 5.625000       0               1
5 3                 5.750000       1               1
6 4                 5.406250       4               1
  empathy_Liked degree_in_StudyWith degree_out_StudyWith empathy_StudyWith
1    NA         1                   0                        NA
2 6.000         2                   1                    6.6250
3    NA         0                   0                        NA
4 6.000         3                   1                    6.6250
5 5.125         4                   2                    6.1875
6 6.000         3                   4                    5.4375
  frosh101
1 FALSE
2 FALSE
3  TRUE
4  TRUE
5 FALSE
6 FALSE

## Who takes frosh 101?

### Gender
**No statistically significant differences**

In [18]:
table(df$frosh101, df$gender)

        female male other
  FALSE    178  116     2
  TRUE     146  112     3

In [38]:
mf = df[df$gender %in% c('male', 'female'),]
dim(mf)
chisq.test(mf$frosh101, mf$gender)

[1] 552  62

	Pearson's Chi-squared test with Yates' continuity correction

data:  mf$frosh101 and mf$gender
X-squared = 0.73098, df = 1, p-value = 0.3926

### Race
**No statistically significant differences**

In [39]:
table(df$frosh101, df$race)

        black east_asian hispanic other_or_mixed south_asian white
  FALSE    27         63       39             62          28    78
  TRUE     35         43       27             59          27    69

In [40]:
chisq.test(df$frosh101, df$race)

	Pearson's Chi-squared test

data:  df$frosh101 and df$race
X-squared = 5.1964, df = 5, p-value = 0.3924

### Dorm
**Some significant differences**

In [41]:
table(df$frosh101, df$dorm)

        Alondra Arroyo Burbank Cedro Eucalipto Faisan FroSoCo Gavilan Junipero
  FALSE      16      9      18    23         7     14      25       4       18
  TRUE        8     21      21     8         5      2      17       4       15

        Larkin Loro Muwekma-Tah-Ruk Norcliffe Okada Otero Rinconada Roble
  FALSE     23    5               2        11     7    18        19    26
  TRUE      32    8               5        13     8    19        11    23

        Sally Ride Twain Ujamaa Zapata
  FALSE         11    27     10      5
  TRUE          15    12     11      4

In [42]:
chisq.test(df$frosh101, df$dorm)

Warning message in chisq.test(df$frosh101, df$dorm):
“Chi-squared approximation may be incorrect”

	Pearson's Chi-squared test

data:  df$frosh101 and df$dorm
X-squared = 36.493, df = 20, p-value = 0.01345

### International students
**No statistically significant difference**

In [43]:
table(df$frosh101, df$intl_student)

          0   1
  FALSE 260  37
  TRUE  222  38

In [44]:
chisq.test(df$frosh101, df$intl_student)

	Pearson's Chi-squared test with Yates' continuity correction

data:  df$frosh101 and df$intl_student
X-squared = 0.38413, df = 1, p-value = 0.5354

### Family income
**No statistically significant difference**

In [47]:
table(df$frosh101, df$family_income)

        10000 30000 50000 70000 90000 110000 130000 150000 170000 190000 210000
  FALSE    17    41    16    22    29     23     11      9     18     13     88
  TRUE     20    16    18    18    21     27     17     13     16     17     70

In [48]:
chisq.test(df$frosh101, df$family_income)

	Pearson's Chi-squared test

data:  df$frosh101 and df$family_income
X-squared = 15.963, df = 10, p-value = 0.1007

### Parent education
**No statistically significant difference**

In [49]:
table(df$frosh101, df$parent_education_highest)

         1  2  3  4  5  6
  FALSE 21 24  8 47 85 89
  TRUE  10 28  9 49 72 79

In [50]:
chisq.test(df$frosh101, df$parent_education_highest)

	Pearson's Chi-squared test

data:  df$frosh101 and df$parent_education_highest
X-squared = 4.5962, df = 5, p-value = 0.4671

### stress (t1)
**No statistically significant difference**

In [90]:
df %>% group_by(frosh101) %>% summarize(stress=mean(stress_t1, na.rm=T))
t.test(df$stress_t1 ~ df$frosh101)

  frosh101 stress
1 FALSE    2.087248
2  TRUE    2.013359

	Welch Two Sample t-test

data:  df$stress_t1 by df$frosh101
t = 1.6561, df = 549.33, p-value = 0.09827
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.0137504  0.1615295
sample estimates:
mean in group FALSE  mean in group TRUE
           2.087248            2.013359

### life satisfaction (t1)
**No statistically significant difference**

In [91]:
df %>% group_by(frosh101) %>% summarize(life_satisfaction=mean(life_satisfaction_t1, na.rm=T))
t.test(df$life_satisfaction_t1 ~ df$frosh101)

  frosh101 life_satisfaction
1 FALSE    5.036074
2  TRUE    5.062341

	Welch Two Sample t-test

data:  df$life_satisfaction_t1 by df$frosh101
t = -0.27116, df = 552.58, p-value = 0.7864
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.2165481  0.1640138
sample estimates:
mean in group FALSE  mean in group TRUE
           5.036074            5.062341

### loneliness (t1)
**No statistically significant difference**

In [92]:
df %>% group_by(frosh101) %>% summarize(loneliness=mean(loneliness_t1, na.rm=T))
t.test(df$loneliness_t1 ~ df$frosh101)

  frosh101 loneliness
1 FALSE    1.829978
2  TRUE    1.797710

	Welch Two Sample t-test

data:  df$loneliness_t1 by df$frosh101
t = 0.74032, df = 542.18, p-value = 0.4594
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.05335018  0.11788559
sample estimates:
mean in group FALSE  mean in group TRUE
           1.829978            1.797710

### composite well-being (t1)
**No statistically significant difference**

In [108]:
df %>% group_by(frosh101) %>% summarize(wellbeing=mean(wellbeing_composite_t1, na.rm=T))
t.test(df$wellbeing_composite_t1 ~ df$frosh101)

  frosh101 wellbeing
1 FALSE    -0.06683394
2  TRUE     0.03310444

	Welch Two Sample t-test

data:  df$wellbeing_composite_t1 by df$frosh101
t = -1.1915, df = 552.93, p-value = 0.234
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.26468943  0.06481265
sample estimates:
mean in group FALSE  mean in group TRUE
        -0.06683394          0.03310444

### Extraversion
**No statistically significant difference**

In [93]:
df %>% group_by(frosh101) %>% summarize(BFI_E=mean(BFI_E, na.rm=T))
t.test(df$BFI_E ~ df$frosh101)

  frosh101 BFI_E
1 FALSE    4.255034
2  TRUE    4.333969

	Welch Two Sample t-test

data:  df$BFI_E by df$frosh101
t = -0.62692, df = 545.33, p-value = 0.531
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.3262658  0.1683940
sample estimates:
mean in group FALSE  mean in group TRUE
           4.255034            4.333969

### Agreeableness
**Significant difference - those who take frosh 101 are slightly more agreeable (d = 0.17)**

In [94]:
df %>% group_by(frosh101) %>% summarize(BFI_A=mean(BFI_A, na.rm=T))
t.test(df$BFI_A ~ df$frosh101)

  frosh101 BFI_A
1 FALSE    4.860738
2  TRUE    5.070611

	Welch Two Sample t-test

data:  df$BFI_A by df$frosh101
t = -2.2652, df = 553.17, p-value = 0.02389
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.39186550 -0.02787936
sample estimates:
mean in group FALSE  mean in group TRUE
           4.860738            5.070611

In [95]:
(5.07 - 4.86) / var(df$BFI_A)

[1] 0.1733832

### Openness
**No significant difference**

In [96]:
df %>% group_by(frosh101) %>% summarize(BFI_O=mean(BFI_O, na.rm=T))
t.test(df$BFI_O ~ df$frosh101)

  frosh101 BFI_O
1 FALSE    5.345638
2  TRUE    5.389313

	Welch Two Sample t-test

data:  df$BFI_O by df$frosh101
t = -0.52596, df = 552.84, p-value = 0.5991
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.2067854  0.1194346
sample estimates:
mean in group FALSE  mean in group TRUE
           5.345638            5.389313

### Conscientiousness
**No significant difference**

In [97]:
df %>% group_by(frosh101) %>% summarize(BFI_C=mean(BFI_C, na.rm=T))
t.test(df$BFI_C ~ df$frosh101)

  frosh101 BFI_C
1 FALSE    5.446128
2  TRUE    5.515267

	Welch Two Sample t-test

data:  df$BFI_C by df$frosh101
t = -0.70553, df = 552.14, p-value = 0.4808
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.2616295  0.1233511
sample estimates:
mean in group FALSE  mean in group TRUE
           5.446128            5.515267

### Neuroticism
**No significant difference**

In [98]:
df %>% group_by(frosh101) %>% summarize(BFI_N=mean(BFI_N, na.rm=T))
t.test(df$BFI_N ~ df$frosh101)

  frosh101 BFI_N
1 FALSE    3.305369
2  TRUE    3.187023

	Welch Two Sample t-test

data:  df$BFI_N by df$frosh101
t = 1.0602, df = 557.99, p-value = 0.2895
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.1009137  0.3376062
sample estimates:
mean in group FALSE  mean in group TRUE
           3.305369            3.187023

### Empathy
**No significant difference**

In [101]:
df %>% group_by(frosh101) %>% summarize(empathy=mean(empathy, na.rm=T))
t.test(df$empathy ~ df$frosh101)

  frosh101 empathy
1 FALSE    5.668624
2  TRUE    5.768130

	Welch Two Sample t-test

data:  df$empathy by df$frosh101
t = -1.7593, df = 557.13, p-value = 0.07908
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.21060253  0.01159131
sample estimates:
mean in group FALSE  mean in group TRUE
           5.668624            5.768130

## Outcome measures (t2 well-being)

### stress (t2)
**No statistically significant difference**

In [102]:
df %>% group_by(frosh101) %>% summarize(stress=mean(stress_t2, na.rm=T))
t.test(df$stress_t2 ~ df$frosh101)

  frosh101 stress
1 FALSE    2.092593
2  TRUE    2.116858

	Welch Two Sample t-test

data:  df$stress_t2 by df$frosh101
t = -0.49188, df = 546.34, p-value = 0.623
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.12116947  0.07263818
sample estimates:
mean in group FALSE  mean in group TRUE
           2.092593            2.116858

### life satisfaction (t2)
**No statistically significant difference**

In [103]:
df %>% group_by(frosh101) %>% summarize(life_satisfaction=mean(life_satisfaction_t2, na.rm=T))
t.test(df$life_satisfaction_t2 ~ df$frosh101)

  frosh101 life_satisfaction
1 FALSE    4.897092
2  TRUE    4.872286

	Welch Two Sample t-test

data:  df$life_satisfaction_t2 by df$frosh101
t = 0.24425, df = 552.46, p-value = 0.8071
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.1746796  0.2242908
sample estimates:
mean in group FALSE  mean in group TRUE
           4.897092            4.872286

### loneliness (t2)
**No statistically significant difference**

In [104]:
df %>% group_by(frosh101) %>% summarize(loneliness=mean(loneliness_t2, na.rm=T))
t.test(df$loneliness_t2 ~ df$frosh101)

  frosh101 loneliness
1 FALSE    1.896745
2  TRUE    1.970626

	Welch Two Sample t-test

data:  df$loneliness_t2 by df$frosh101
t = -1.4943, df = 546.37, p-value = 0.1357
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.1709966  0.0232355
sample estimates:
mean in group FALSE  mean in group TRUE
           1.896745            1.970626

### composite well-being (t2)
**No statistically significant difference**

In [106]:
df %>% group_by(frosh101) %>% summarize(wellbeing=mean(wellbeing_composite_t2, na.rm=T))
t.test(df$wellbeing_composite_t2 ~ df$frosh101)

  frosh101 wellbeing
1 FALSE     0.007722209
2  TRUE    -0.071228422

	Welch Two Sample t-test

data:  df$wellbeing_composite_t2 by df$frosh101
t = 0.93845, df = 551.02, p-value = 0.3484
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.08630177  0.24420303
sample estimates:
mean in group FALSE  mean in group TRUE
        0.007722209        -0.071228422